@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@media (prefers-color-scheme: dark) {
  
  :root{

    color-scheme: light dark;
    --primarycolor:#212121;
    --secondarycolor:#424242;
  
    --primarytext:#F5F5F5;
    --secondarytext:#A2A2A2;
  
    --neutral:#000000;
  
   
  
  }
 
}




.light { 

  
  --primarycolor:#FFFFFF;
  --secondarycolor:#EEEEEE;

  --primarytext:#000000;
  --secondarytext:#212121;

  --neutral:#FFFFFF;
  
}

@media (prefers-color-scheme: light) {
  
  :root{

   
  
     
  --primarycolor:#FFFFFF;
  --secondarycolor:#EEEEEE;

  --primarytext:#000000;
  --secondarytext:#212121;

  --neutral:#FFFFFF;

}
 
}









* ::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Karla", sans-serif;
  font-family: "Poppins", sans-serif;
  background: var(--primarycolor);
  color: var(--primarytext);
  
}









