@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

@media (prefers-color-scheme: dark) {
  
  :root{

    color-scheme: light dark;
    --primarycolor:#212121;
    --secondarycolor:#424242;
  
    --primarytext:#F5F5F5;
    --secondarytext:#A2A2A2;
  
    --neutralblack:#000000;
  
   
  
  }
 
}




.light { 

  
    --primarycolor:#FFFFFF;
    --secondarycolor:#FEFEFE;
  
    --primarytext:#000000;
    --secondarytext:#616161;
  
    --neutralblack:#F5F5F5;
  
  
}

@media (prefers-color-scheme: light) {
  
  :root{

   
  
    color-scheme: light dark;
    --primarycolor:#FFFFFF;
    --secondarycolor:#FEFEFE;
  
    --primarytext:#000000;
    --secondarytext:#616161;
  
    --neutralblack:#F5F5F5;
  
  }
 
}





* ::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Karla", sans-serif;
  font-family: "Poppins", sans-serif;
  background: var(--primarycolor);
  color: var(--primarytext);
  
}









