@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


    .linear-up{

        background: linear-gradient(180deg, transparent, rgba(8, 8, 8, 0.61), #212121);
    }


    input:invalid[focused="true"]  + .custom-rule {
        display: block;
     
      }
    
      input:invalid[focused="true"] {
    
        border: 2px solid red;
        color: red;
        
      }
    
    
    
      input:valid{
    
        border: 0.12rem solid green;
      }


    

}